<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kirtanlabs.nammaapartmentssocietyservices">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".SocietyServiceGlobal"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/NammaApartmentsTheme">

        <!-- Ignore this activity for now -->
        <activity android:name=".MainActivity" />

        <!-- Login Screen -->
        <activity
            android:name=".login.SignIn"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.OTP"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <!-- Register Screen -->
        <activity
            android:name=".admin.registersocietyservices.activities.Register"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".admin.registersocietyservices.activities.RegistrationCategories"
            android:screenOrientation="portrait" />

        <!-- Namma Apartments Society Services Screen -->
        <activity
            android:name=".home.HomeViewPager"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.timeline.History"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <!-- Notifications related services -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <service
            android:name=".pushnotifications.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".pushnotifications.MyFirebaseInstanceIdService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".pushnotifications.ActionButtonListener"
            android:exported="false">
            <intent-filter>
                <action android:name="accept_button_clicked" />
                <action android:name="reject_button_clicked" />
            </intent-filter>
        </receiver>

        <!-- My Profile Screen -->
        <activity
            android:name=".myprofile.MyProfile"
            android:screenOrientation="portrait" />

        <!--Society Admin Home Screen-->
        <activity
            android:name=".admin.SocietyAdminHome"
            android:screenOrientation="portrait" />

        <!-- Manage Users Screen -->
        <activity
            android:name=".admin.manageusers.ManageUsers"
            android:screenOrientation="portrait" />

        <!-- Staff Screen -->
        <activity
            android:name=".admin.staffs.activities.StaffActivity"
            android:screenOrientation="portrait" />

        <!-- Approve Event Screen -->
        <activity
            android:name=".admin.approveevents.activities.ApproveEventsActivity"
            android:screenOrientation="portrait" />

        <!-- Add Notice Screen -->
        <activity
            android:name=".admin.addnotice.activities.AddNoticeActivity"
            android:screenOrientation="portrait" />

        <!-- HelpDesk Screen -->
        <activity
            android:name=".admin.helpdesk.activities.HelpDeskActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>